* {

    margin: 0;
    padding: 0;

}

/* GENERALES - INICIO */

a {
    text-decoration: none;
  
}

nav {

    font-size: 20px;
    font-weight: bold;

}

/* GENERALES - FIN */




/* NAVEGADORES - INICIO */

.navbar-collapse {

    justify-content: center;
    margin-right: 160px;

}




/* NAVEGADORES - FIN */

/* MENU - INICIO */


.menu-card {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: red;
    margin: 20px 0px;

}

.menu-descripcion {

    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
    
   

}

.menu-ajustar-precio {

    margin-top: -10px;

}


.menu-foto {

    height: 15vh;
    object-fit: contain;
    border-radius: 26px;
    padding: 5px;
    padding-right: 0;

}

/* MENU - FIN */

