.footer-contenedor {

    border-top: 2px solid $color-principal;

    display: grid;

    grid-template-columns: 1fr;


}

.footer-contenido {

    padding-top: 15px;
    text-align: center;
    margin-bottom: 0px;
   
}
