/* MENU - INICIO */


.menu-card {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: $color-terciario;
    margin: 30px 0px;
    box-shadow: 6px 6px 10px $color-secundario;
    font-size: 15px;
}

.menu-card:hover {

    box-shadow: 9px 9px 20px $color-secundario;

}


.menu-descripcion {

    text-align: start;
    padding-top: 10px;
    padding-left: 20px;

   

}

.menu-ajustar-precio {

    margin-top: -10px;
    font-size: 17px;

}


.menu-foto {

    height: 160px;
    width: auto;
    object-fit: contain;
    border-radius: 16px;
    box-shadow: 0px 0px 4px $color-terciario;
    margin: 10px 5px;
  

}

.menu-boton {

    background-color: $color-secundario;
    padding: 7px 13px;
    border-radius: 5px;
    border: none;
    color: $color-terciario;

}

.menu-boton:hover {

    background-color: $color-secundario

}


/* MENU - FIN */

