.modal-content {

    margin-top: 100px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px $color-principal;
    height: 100%;
    width: 100%;
}

.modal-body {

    color: $color-terciario;

}

.modal-titulo {

    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-terciario;
    

}



.modal-titulo h3 {

    font-size: 22px;

}

.modal-body .menu-ajustar-precio {

    font-size: 16px;

}

.modal-body .menu-foto {

    width: auto;
    height: 160px; 
}

.bebidas {

    box-shadow: none;

}