.modal-content {

    margin-top: 130px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #F02B3D;;
}

.modal-body {

    color: white;

}

.modal-titulo {

    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    

}


.btn-close {

    background-color: white;

}

.modal-body .menu-foto {

    width: 300px;
    height: 200px;

}