/* REDES SOCIALES - INICIO */

.redes-sociales-contenedor {

    padding-top: 10px;
    text-align: end;

}
.redes-sociales-item {

    display: inline;
    padding: 12px;
    font-size: 22px;
  
}

.redes-sociales-icono {

    color: $color-terciario;

}

/* REDES SOCIALES - FIN */